<div class="ch-actor-name">{{actorName}}</div>
<div class="ch-move-name">{{moveName}}</div>

<hr>

<!-- Dice Results and Modifiers -->
<div class="dice-container">
  <!-- Display dice results -->
  <ol class="ch-dice-rolls">
    {{#each diceRolls}}
      <li class="ch-die-d6">{{this}}</li>
    {{/each}}
  </ol>
  
  <!-- Display modifiers -->
  <div class="ch-modifiers">
    {{{modifiers}}}
  </div>
</div>

<hr>

<!-- Display roll total -->
  <div class="ch-roll-total">{{{rollTotal}}}</div>

<hr>

<!-- Power and Weakness Tags -->
<div>
  <!-- Display power tags if any -->
  {{#if powerTags.length}}
    <ul class="roll-modifiers">
      {{#each powerTags}}
        <li class="ch-pwtag-display">{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  <!-- Display weakness tags if any -->
  {{#if weaknessTags.length}}
    <ul class="roll-modifiers">
      {{#each weaknessTags}}
        <li class="ch-wktag-display">{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<!-- Move Outcome -->
<div>{{moveOutcome}}</div>

<!-- Move Effects if any -->
{{#if moveEffects.length}}
  <ul class="ch-move-list">
    {{#each moveEffects}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}
